@page "/pc"

<h3 style="background-color:pink">Parent Component</h3>
<p>@buttonMessage 3</p>
<button @onclick="OnClick"> Click to use child method </button>
<CascadingValue Value="@MessageParent" Name="message" IsFixed="true">
    <CascadingValue Value="@Age">
        <CascadingValue Value="@Name" Name="name">
            <TheChildComponent Title="Gooseberry falls param passed" OnClickCallback="@GetMessage"
                @ref="childComponentRef">
                <SectionContentFromChild Context="prod">
                    <div style="background-color: lightblue">
                        <p>ID: @prod.Id</p>
                        <p>Name: @prod.Name</p>
                        <p>Price: @prod.Price</p>

                        <input type="text" />
                    </div>
                </SectionContentFromChild>
                <SectionContentFromChild2>
                    @if (isDisplayed)
                    {
                        <p>This is true!</p>
                    }
                    else
                    {
                        <p>This is false</p>
                    }
                </SectionContentFromChild2>

            </TheChildComponent>
        </CascadingValue>
    </CascadingValue>
</CascadingValue>

@code {
    public string MessageParent { get; set; } = "I am from parent";

    public int Age { get; set; }

    public string Name { get; set; } = "Tyler Name";

    string buttonMessage = "default message";
    private void GetMessage(string m)
    {
        buttonMessage = m;
    }

    private TheChildComponent childComponentRef;

    void OnClick()
    {
        childComponentRef.Show();
    }

    bool isDisplayed = true;
}
